/* Définition des polices personnalisées */

@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Eléments principaux de la page */

*{

  font-family: arial;
}


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

#main {
  display: flex;
  flex: 1;
}

#main > article {
  flex: 1;
}

#main > nav, 

#main > aside {
  flex: 0 0 20vw;
}
#main > nav {
  order: -1;
}
header, footer {
  display : flex;
  justify-content : space-between;
  background: grey;
  height: 49px;

  
}
header div img{
  width : 75px;
}

nav{
  
  display: flex;

  margin:auto;


  
}




body{

  background-image:url("img/fond-1.jpg");
  background-size: 100%;

}

#body_page_perso{

    background-image:url("img/fond-2.jpg");
   
}


#formulaire_connexion{

  margin:auto;
  text-align: center;
  padding:50px 140px;
  background-color:lightblue;
  width:287px;
  background-color: rgba(130, 161, 192, 0.9);
  color:white;
  padding-top:10px;


}

#formulaire_ajouterqcm{

  margin:auto;
  text-align: center;
  padding:50px 140px;
  background-color: rgba(130, 161, 192, 0.9);
  color:white;
  padding-top:10px;


}


form>p{

  font-size:33px;
  font-family: arial;

}

#part_form{

  margin-bottom:50px;
  text-align: center;
  


}

#part_form>input{

  width: 200px;
  height: 20px;

}

input[type=submit]{

  width:216px;
}

form>input{

  height: 30px;
  width: 150px;
}

#connexion {

  flex : 1;
  text-align : right;
  height: 5vh;


}

header{

  display:flex;
  flex-direction:row;
  background-color:cornflowerblue;
  background-color:rgba(130, 161, 192, 0.9);

}

#logo{

  margin:auto;
  text-align: center;
  width: 220px;
  height: 20px;

}

.menu{

  padding:15px;


}

.img_form{

  margin: 5px 5px 0px 0px;
}

#connexion_inscription{


  display: inline-block;
  padding: 16px 10px 0px 10px;
  height:32px;
  width:170px;


}

.menu:hover,#connexion_inscription:hover{

  background-color: lightblue;
  cursor:pointer;
  transition-duration:0.5s;

}

#menu_lateral{



    width: 220px;
    background-color:  gray;
    background-color:#C5EBFE;


}

#hors_connexion{

  text-align: center;
}

article {
  margin : auto;
  width : 600px;
  text-align: center;
}
aside {

  float : right;  
  background-color : grey;
}

aside>div#hors_connexion {
  background-color : #FEFBC8;
  border:2px outset white;
  margin-top : 200px;
  margin-left : 10px;
  margin-right: 10px;
}


footer{

    background-color:cornflowerblue;
}

.div_error{

  background-color:red;


}


